#returnal{
    background-image: url(./img/jumbo-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px;
    background-position: center;
    
}

.ms-mt{
    margin-top: 76px;
}

#takes2{
    background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px;
    background-position: center;
    
}

img{
    width: 100%;
}

.ms-rounded{
    border-radius: 25px;
}