#returnal{
    background-image: url(./img/jumbo-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px;
    background-position: center;
    
}

.ms-mt{
    margin-top: 99px;
}

#takes2{
    background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px;
    background-position: center;
    
}



.ms-rounded{
    border-radius: 25px;
}

.ms-logo-footer{
    height: 100px;
}

.ms-globe-footer{
    height: 20px;
}

.ms-logo-play-5{
    height: 120px;
}
.ms-logo-lens{
    height: 25px;
}