#returnal{
    background-image: url(./img/jumbo-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px;
    background-position: center;
    
}

.ms-mt{
    margin-top: 99px;
}

#takes2{
    background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px;
    background-position: center;
    
}

ul {
    list-style: none; 
  }
  
  ul li .ms-blue-dot::before {
    content: "\2022";  
    color: #0d6efd; 
    font-weight: bold;
    display: inline-block; 
    width: 1em; 
    margin-left: -1em; 
  }

.ms-returnal {
    outline: 5px solid #0d6efd; 
    border: 5px solid white;
  }

.ms-game-up {
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}
.ms-game-up:hover {
  top: -10px;
}

.accessories:hover {
    border-bottom: 3px solid #0d6efd;
    overflow: hidden; 
    opacity: 1;       
}
.accessories:hover img{
    margin: -4px;
}

.accessories{
    opacity: 0.5;
}




.ms-rounded{
    border-radius: 25px;
}

.ms-logo-footer{
    height: 100px;
}

.ms-globe-footer{
    height: 20px;
}

.ms-logo-play-5{
    height: 120px;
}
.ms-logo-lens{
    height: 25px;
}

footer{
    background-color: #0d6efd;
}